<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>BookLibrary</title>
</head>
<body>
<!--#e8cdac,d5d86f-->
<nav th:fragment="header" class="navbar navbar-expand-lg " style="background-color: #999999;  border: 1px solid #000;">
    <div class="container-fluid">
        <a class="navbar-brand"><strong>Library Management System</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/" th:href="@{/}"><strong>Home</strong></a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/api/books" th:href="@{/api/books}"><strong>Books</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/api/authors"
                       th:href="@{/api/authors}"><strong>Authors</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/api/publishers"
                       th:href="@{/api/publishers}"><strong>Publishers</strong></a>
                </li>
            </ul>

        </div>
    </div>
</nav>


</body>
</html>