<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>BookLibrary</title>
</head>
<body style="background-color: #ffe599;">
<!--    <div th:insert="~{fragments/header :: header}"></div>-->
<sec:authentication property="principal.username" var="user"/>
<sec:authentication property="principal.authorities" var="authorities"/>
<div class="container mt-5">
    <div style="text-align: center;">
        <h1 class="bs-secondary-bg" style="color:RGB(66,143,39)"></h1>
        <h1>WELCOME TO LIBRARY MANAGEMENT SYSTEM</h1>
        <p class="mt-3" style="color:RGB(66,143,39)"></p>
    </div>

    <div class="row mt-10">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img th:src="@{/images/books.jpg}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" align="center">Books</h5>
                    <p class="card-text">"Cărțile sunt comoara care ne îmbogățește mintea,
                        ne deschide inimile și ne călăuzește pe cărările nevăzute ale imaginației."</p>
                    <a href="/api/books" th:href="@{/api/books}" class="btn btn-primary">Go there!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img th:src="@{/images/authors.jpg}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" align="center">Authors</h5>
                    <p class="card-text">"Un autor adevărat nu scrie pentru a-și câștiga traiul,
                        ci pentru a-și elibera sufletul." </p>
                    <a href="/api/authors" th:href="@{/api/authors}" class="btn btn-primary">Go there!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img th:src="@{/images/publishers.jpeg}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" align="center">Publishers</h5>
                    <p class="card-text">"Editurile sunt grădinile în care semințele gândurilor și
                        ideilor autorilor se transformă în fructe citite de milioane de oameni." </p>
                    <a href="/api/publishers" th:href="@{/api/publishers}" class="btn btn-primary">Go there!</a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>