<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Update Book</title>
</head>
<body>

<div class="container">
    <h3>Book Directory</h3>
    <hr>
    <p class="h4 mb-4">Save Book</p>
    <form action="#" th:action="@{/api/books/save}"
          th:object="${books1}" method="POST">
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}"/>
        Book Name:
        <input type="text" th:field="*{title}"
               class="form-control mb-4 col-4" placeholder="Book title">

        <input type="text" th:field="*{page_nr}"
               class="form-control mb-4 col-4" placeholder="Page Numbers">

        <input type="text" th:field="*{year_of_release}"
               class="form-control mb-4 col-4" placeholder="Release Year">

        <input type="text" th:field="*{price}"
               class="form-control mb-4 col-4" placeholder="Price">

        <input type="text" th:field="*{ISBN}"
               class="form-control mb-4 col-4" placeholder="ISBN">

        <input type="text" th:field="*{isRented}"
               class="form-control mb-4 col-4" placeholder="IsRented">

        <input type="text" th:field="*{author.name}"
               class="form-control mb-4 col-4" placeholder="ISBN">

        <input type="text" th:field="*{publisher.name}"
               class="form-control mb-4 col-4" placeholder="ISBN">

        <button type="submit" class="btn btn-info col-2">Save</button>
        <button type="button" class="btn btn-info col-2" id="cancelButton">Cancel</button>

    </form>
    <hr>
</div>
<script>
    document.getElementById("cancelButton").addEventListener("click", function () {
        window.location.href = "/api/books";
    });
</script>
</body>
</html>

