<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Author</title>
</head>
<body>
<h1>Update Author</h1>
<!-- Form to update author -->
<form th:action="@{/api/authors/updateAuthor2}" th:object="${author}" method="post">
    <!-- Input field for author's name -->
    <label for="authorName">Author Name:</label>
    <input type="text" id="authorName" name="name" th:value="${author.name}" required />

    <!-- Hidden input field for author's ID -->
    <input type="hidden" name="id" th:value="${author.id}" />
    <input type="hidden" name="id" th:value="${author.bookList}" />

    <!-- Submit button -->
<!--    <button type="submit">Update Author</button>-->
    <input type="submit" class="btn btn-primary" value=" Submit ">

</form>
</body>
</html>